.add-entry-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #445d67; /* Match the color from the image */
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 20px; /* Adjust this value to position the button at the bottom */
  right: 20px; /* Adjust this value to position the button to the right */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.add-entry-button:hover {
  background-color: #3a4b57; /* Slightly darker color for hover effect */
}

.add-entry-icon {
  font-size: 24px; /* Adjust icon size */
}
